plex/transcode/*
plex/config/*

sonarr/config
sonarr/tv

radarr/config
radarr/movies

lidarr/config/*
lidarr/music/*

jackett/config/*
jackett/downloads/*

transmission/config/*
transmission/downloads
transmission/watch/*

gui/node_modules/
.env

!jackett/config/Jackett/ServerConfig.json
!radarr/config/config.xml
!sonarr/config/config.xml
!lidarr/config/config.xml
!transmission/config/settings.json
